*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 10px; */
}

html{
    font-family: 'Poppins', sans-serif;
}

body{
    max-width: 80%;
    text-align: center;
    margin: auto;
    line-height: 1.4;
    font-weight: 400;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: darkorchid;
    background-image: linear-gradient(
        115deg,
        rgba(207, 49, 115, 0.8),
        rgba(248, 64, 202, 0.7)
      ),
      url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
#title{
    margin: 2rem 0 1rem 0;
}

#survey-form{
    margin-top: 1rem;
    background-color: rgb(253, 169, 183);
    margin:auto;
    text-align: left;
}

.form-group{
    padding: 0.8rem;
    font-weight: 500;
    text-align: left;
}

h1{
    font-size: 2rem;
}

p{
    font-size: 1.2rem;
    font-weight: 500;
}

.description{
    margin-bottom: 1rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

label{
    display: flex;
    margin-bottom: 0.5rem;
    text-align: left;
    font-size: 1.125rem;
}

form{
    border-radius: 0.25rem;
}
.form-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

button{
    border:none;
}

#submit{
    display: block;
    width: 100%;
    padding: 0.75rem;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
  }

 input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
} 

#comments{
    width: 100%;
    min-height: 10rem;
    resize: vertical;
    /* padding: 1rem; */
}

@media (max-width:720px;) {
        .form-group{
            padding: 0.5rem;
        }

        label{
            margin-bottom: 0.2rem;
        }

        #survey-form{
            width: 100%;
        }
}

@media (max-width: 420px){
    body{
        max-width: 100%;
    }
}